
@using RazorEngine.Templating
@using docnet.Models

@inherits TemplateBase<AssemblyMetadata>

@{
    Layout = "Layout.cshtml";
}

<h2>@Model.AssemblyName</h2>

<h3>Namespaces</h3>
<table>
    <tr>
        <th>Namespace</th>
        <th>Descrição</th>
    </tr>
    @foreach (NamespaceMetadata n in Model.Namespaces)
    {
        <tr>
            <td><a href="@n.LinkUrl">@n.NamespaceName</a></td>
            <td>@n.Summary</td>
        </tr>
    }
</table>